/* =========================================
		Site
   ========================================= */

.site,
.site__body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.site__header{
	z-index:99988;
	display:block;
	position:fixed;
	top:0px;
	left:0px;
	width:100vw;
	height:90px;
	background: $c_black;

	.site__header__nav{
		position:absolute;
		top:0px;
		right:5vw;

		.site__header__btn{
			display:inline-block;
			width:90px;
			height:90px;
			.bar{
				margin: 35px auto;
			}
		}
	}
}

.site__nav{

	.nav, .menu{
		display:block;
		position:absolute;;
		top:50%;
		left:50%;
		margin:0px;
		transform:translate(-50%, -50%);		
		li{
			display:block;
			position:relative;
			list-style-type:none;
			margin: 20px 0px;
			padding:0px 20px; 
			a{
				position:relative;
				z-index:5;
				display:block;
				color:$c_white;
				font-size:48px;
				line-height:60px;
				text-decoration:none;
				outline:none;
				transition:all 0.5s ease;
			}

			&:after{
				z-index:1;
				position:absolute;
				content: '';
				display:block;
				top:0px;
				left:0px;
				width:0px;
				height:100%;
				background:$c_white;
				transition:all 0.5s ease;
			}

			&:hover{
				a{
					color:$c_black;
				}
				&:after{

					width:100%;
				}				
			}
		}
	}


}

.site__logo{
	display:block;
	position:fixed;
	top:0px;
	left:5vw;
	top:15px;
	height:50px;

	img, svg{
		height:100%;
	}	
}